.Header {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;


}

.Logo {
    font-size: 37px;
    color: green;
    font-weight: 600;
    letter-spacing: 3px;



    font-family: 'Delicious Handrawn', cursive;

}



.navbar {
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

@media (max-width: 1000px) {
    a {
        font-size: 21px;
    }
}

@media (max-width: 800px) {
    a {
        font-size: 21px;
    }



}

@media (max-width: 700px) {
    .navbar {
        display: none;
    }

    .menu {
        display: flex;
    }

}