.LocatonFilter {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 400px) {
    .LocationFilter {
        width: 80%;

    }
}