.Episode {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.EpisodeName {
    font-size: 34px;
    font-weight: 600;
    font-family: 'Delicious Handrawn', cursive;
    color: green;
    text-align: center;
    position: relative;
    top: 10px;
}

.EpisodeCard {
    width: 60%;
    height: 180px;

    box-shadow: 0 0 10px green;
    margin: 10px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.EpisodeText {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10px;
}

.EpisodeCardTextP {
    font-size: 28px;
    color: green;

}

.EpisodeSpan {
    font-size: 43px;
}

.EpisodeInput {
    margin-top: 30px;
}

@media (max-width: 800px) {
    .EpisodeName {
        font-size: 27px;
    }

    .EpisodeCardTextP {
        font-size: 23px;
    }

    .EpisodeSpan {
        font-size: 25px;
    }
}