.Filter {
    width: 420px;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

select {
    width: 120px;
    height: 35px;
    border: none;
    box-shadow: 0 0 10px green;

    background-color: black;
    font-size: 17px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: green;
    border-radius: 5px;

}