.MyList {
    width: 100%;
    height: 100vh;

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;

}

.InputCont {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -40px;
}


.MyListSelect {
    width: 60%;
    height: 45px;
    font-size: 20px;
    position: relative;
    top: 30px;
}


.add {
    position: relative;
    top: 28px;
    height: 50px;
    width: 90px;
    background-color: green;
    font-weight: 800;
    font-size: 17px;
    color: black;
    box-shadow: 0 0 10px green;
    border-radius: 10px;
}

.MyListContainer {
    width: 65%;
    height: 70%;

    overflow: scroll;
    overflow-x: hidden;
    display: flex;

    align-items: center;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: green black;



}

.MyListContainer::-webkit-scrollbar {
    width: 8px;
}

.MyListContainer::-webkit-scrollbar-track {
    background: black;
}

.MyListContainer::-webkit-scrollbar-thumb {
    background-color: #449A72;
    border-radius: 20px;
    border: 2px solid black;
}

.MyListContainer::-webkit-scrollbar-thumb:hover {
    background-color: #2F654B;
}

.watchCard {
    width: 80%;
    height: 90px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;

}

.watchName {
    color: green;
    font-size: 38px;
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 700;

}

.delete {
    width: 70px;
    height: 40px;
    background-color: green;
    color: black;
    border: none;
    font-size: 17px;

    border-radius: 10px;
    position: relative;
    left: -30px;

    font-weight: 700;
}


@media (max-width: 800px) {
    .MyListContainer {
        width: 80%;
        padding: 10px;
    }

    .watchCard {
        width: 100%;
    }

    .watchName {
        font-size: 21px;
    }

    .delete {
        width: 60px;
        height: 35px;
        font-size: 17px;
    }

    .InputCont {
        width: 70%
    }
}

@media (max-width: 400px) {
    .InputCont {
        width: 95%
    }

}