body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-size: 26px;
  color: green;

  font-family: 'Delicious Handrawn', cursive;
  text-decoration: none;
  font-weight: 600;
}

.TextH3 {
  color: green;
  font-size: 45px;
  font-family: 'Delicious Handrawn', cursive;
}

.Input {
  width: 50%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: black;
  box-shadow: 0 0 10px green;
  color: green;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 20px;
  padding-left: 5px;

}

.Input::placeholder {
  font-size: 20px;
  color: green;
  font-family: 'Delicious Handrawn', cursive;

}

span {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 32px;

}

.NoCardText {
  font-size: 33px;
  color: green;
  position: relative;
  top: 10px;
}

p {
  color: green;
}